body {
    padding:0;
    margin:0;
    background-color: #FCF8E8;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #DF78;
}
h2{
    margin:0;
}
header{
    width:100%;
    background-color: #0f0e0e;
    height:60px;
    position:fixed;
    display:flex;
    color:white;
    z-index: 2;
    flex-direction: row;
    justify-content: space-between;
    align-content:space-between;
    top:0;
    right:0;
    left:0;
}

header:hover{
    background-color:#DF7861;
    color:black;
    transition: background-color 0.5s, color 0.5s;
}
nav{
    margin:0px 20px 10px 0px;
    
}
nav ul{

    display:flex;
    flex-direction: row;
    list-style: none;
}

nav ul li{
    font-size: 1.5em;
    padding-right:10px;

}

nav ul li+li::before{
    content:"|";
}
nav a {
    color:white;
    text-decoration: none;
}
nav a:hover{
    color:rgb(37, 37, 42);
    transition: color 0.5s;
}
/* @media only screen and (max-width: 300px) {
    #sign-up-section {
      height: 20rem;
    }
  
    #sign-up-cta h1 {
      font-size: 2.25rem;
    }
  
    #sign-up-cta h2 {
      font-size: 2rem;
    }
  } */
  
.mainSection{
    background-image: url("../Img/ChemistryFlasks.png");
    margin-top:60px;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height:35em;
    display:grid;
    grid-template-columns:repeat(12 , 1fr);
    grid-template-rows: repeat(5, 1fr);
  
}
.content{
    grid-column: 2 / span 4; 
    grid-row: 3 / span 1;
    border-left: 2px double white;
    border-radius: 5px;
    background-color: #413f3f;
    color:rgb(164, 164, 172);
    opacity:0.9;
    width:fit-content;
    padding:20px;
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: space-between;
}
.content a{
    color:white;
    text-decoration: none;
}
.content:hover{
    background-color: #DF7861;
    opacity:1;
    padding-right:10px;
    margin-top:10px;
    transition: background-color 0.5s;
}
.content a:hover{
    color:#0f0e0e;
    transition: color 0.5s;
}
.divider{
    height:2em;
    background-color: #0f0e0e;
    width:100%;
    margin:0;
}
#whoWeAre{
    color:rgb(37, 37, 42);
    background-color:#a7a7a7;
    display:flex;
    flex-direction:row;
    text-align:center;
}

.subjectBlock {
    display: inline-block;
    width:50%;
}
.subjectBlock h2 {
    margin: 2em 1em 0.5em 1em;
}

.subjectBlock img{
width:100%;
}
#actions{
    text-align:center;
    color:#a7a7a7;
    background-color:rgb(37, 37, 42);
    display:flex;
    flex-direction:row;
}
#help{
    color:rgb(37, 37, 42);
    background-color:#a7a7a7;
    display:flex;
    flex-direction:row;
    text-align:center;
}

#contact{
    background-color:#0f0e0e;
    color: rgb(253, 200, 178);
    padding: 2em;
}

.contactCards{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}

.buttonTop {
    position:relative;
    left:90%;
    border: solid rgb(253, 200, 178);
    border-radius: 3px;
    background-color:rgb(253, 200, 178);
    color:black;
    width:fit-content;
}
.buttonTop:hover{
    background-color:#DF7861;
    margin-right:10px;
    margin-top:10px;
    border: solid #DF7861;
    transition: background-color 0.5s,border 0.5s;
}
