
body {
    padding:0;
    margin:0;
    background-color: #FCF8E8;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #DF78;
    width:100%;
}
h2{
    margin:0;
}
header{
    width:100%;
    background-color:#53BF9D;
    height:60px;
    position:fixed;
    display:flex;
    color:rgb(56, 56, 56);
    z-index: 2;
    flex-direction: row;
    justify-content: space-between;
    align-content:space-between;
    top:0;
    right:0;
    left:0;
}

header:hover{
    background-color:#BD4291;
    color:black;
    transition: background-color 0.5s, color 0.5s;
}
nav{
    margin:0px 20px 10px 0px;
}
nav ul{
    display:flex;
    flex-direction: row;
    list-style: none;
}

nav ul li{
    font-size: 1.5em;
    margin-right:0.5em;
    margin-right:0.5em;
}

nav ul li+li::before{
    content:"|";
}
nav a {
    color:rgb(56, 56, 56);
    text-decoration: none;
}
nav a:hover{
    color:black;
    transition: color 0.5s;
}

  
.mainSection{
    background-image: url("../Img/ChemistryFlasks.png");
    margin-top:60px;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height:35em;
    display:grid;
    grid-template-columns:repeat(12 , 1fr);
    grid-template-rows: repeat(5, 1fr);
  
}
.content{
    grid-column: 2 / span 4; 
    grid-row: 3 / span 1;
    border-left: 2px double white;
    border-radius: 5px;
    background-color: #FFC54D;
    color:rgb(56,56,56);
    opacity:0.9;
    width:fit-content;
    padding:20px;
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: space-between;
}
.content a{
    color:rgb(56,56,56);
    text-decoration: none;
}
.content:hover{
    background-color: #BD4291;
    opacity:1;
    padding-right:10px;
    margin-top:10px;
    transition: background-color 0.5s;
}
.content a:hover{
    color:black;
    transition: color 0.5s;
}
.divider{
    height:2em;
    background-color:#53BF9D;
    width:100%;
    margin:0;
}
#whoWeAre{
    color:rgb(56, 56, 56);
    background-color:#FFC54D;
    display:flex;
    flex-direction:row;
    text-align:center;
}

.subjectBlock {
    display: inline-block;
    width:50%;
}
.subjectBlock h2 {
    margin: 2em 1em 0.5em 1em;
}

.subjectBlock img{
width:100%;
}
#actions{
    text-align:center;
    color:rgb(56,56,56);
    background-color:#BD4291;
    display:flex;
    flex-direction:row;
}
#help{
    color:rgb(56, 56, 56);
    background-color:#FFC54D;
    display:flex;
    flex-direction:row;
    text-align:center;
}

#contact{
    background-color:#53BF9D;
    color: rgb(56, 56, 56);
    width:100%;
}

#contact h2 {
    margin-left:2em;
}

.contactCards{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap:wrap;
}
.buttonGrid{
    display:grid;
    grid-template-columns:repeat(12 , 1fr);
}
.buttonTop {
    grid-column: 12; 
    border: solid #FFC54D;
    border-radius: 3px;
    background-color:#FFC54D;
    color:black;
    width:fit-content;
}
.buttonTop:hover{
    background-color:#BD4291;
    margin-right:3px;
    margin-top:3px;
    border: solid #BD4291;
    transition: background-color 0.5s,border 0.5s;
}
#buttonTop{
    background-color:#FFC54D; 
    border-width:0px; 
}
#buttonTop:hover {
    background-color:#BD4291;
    transition: background-color 0.5s;
}