
body {
    padding:0;
    margin:0;
    background-color: #FCF8E8;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #DF78;
    width:100%;
}
h2{
    margin:0;
}
header{
    width:100%;
    background-color:#53BF9D;
    height:60px;
    position:fixed;
    display:flex;
    color:rgb(56, 56, 56);
    z-index: 2;
    flex-direction: row;
    justify-content: space-between;
    align-content:space-between;
    top:0;
    right:0;
    left:0;
}

header:hover{
    color:black;
    transition: color 0.5s;
}
/* Nav bar */
nav{
    margin:0px 20px 10px 0px;
}
nav ul{
    display:flex;
    flex-direction: row;
    list-style: none;
}

nav ul li{
    font-size: 1.5em;
    margin-right:0.5em;
    margin-right:0.5em;
}

nav ul li+li::before{
    content:"|";
}
nav a {
    color:rgb(56, 56, 56);
    text-decoration: none;
}
nav a:hover{
    color:black;
    transition: color 0.5s;
}
.p-menu1{
    z-index:3;
}
@media (min-width: 880px) {
    .p-menu1{
    display:none;
    }
}

/* background with intro */
.mainSection{
    background-image: url("../Img/ChemistryFlasks.png");
    margin-top:60px;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height:35em;
    display:grid;
    grid-template-columns:repeat(12 , 1fr);
    grid-template-rows: repeat(5, 1fr);
  
}
.content{
    grid-column: 2 / span 4; 
    grid-row: 3 / span 1;
    border-left: 2px double white;
    border-radius: 5px;
    background-color: #FFC54D;
    color:rgb(56,56,56);
    opacity:0.9;
    width:fit-content;
    padding:20px;
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: space-between;
}
.content a{
    color:rgb(56,56,56);
    text-decoration: none;
}
.content:hover{
    background-color: #BD4291;
    opacity:1;
    padding-right:10px;
    margin-top:10px;
    transition: background-color 0.5s;
}
.content a:hover{
    color:black;
    transition: color 0.5s;
}
.divider{
    height:2em;
    background-color:#53BF9D;
    width:100%;
    margin:0;
}
/* main content */
#whoWeAre{
    color:rgb(56, 56, 56);
    background-color:#FFC54D ;
    display:flex;
    flex-direction:row;
    text-align:center;
}

.subjectBlock {
    display: inline-block;
    width:50%;
}
.subjectBlock h2 {
    margin: 2em 1em 0.5em 1em;
}

.subjectBlock img{
width:100%;
}
#actions{
    text-align:center;
    color:rgb(56,56,56);
    background-color:#BD4291;
    display:flex;
    flex-direction:row;
}
#help{
    color:rgb(56, 56, 56);
    background-color:#FFC54D;
    display:flex;
    flex-direction:row;
    text-align:center;
}

#contact{
    background-color:#53BF9D;
    color: rgb(56, 56, 56);
    width:100%;
}

#contact h2 {
    margin-left:2em;
}

.contactCards{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap:wrap;
}
/* Button to the top */
.buttonGrid{
    display:grid;
    grid-template-columns:repeat(12 , 1fr);
}
.buttonTop {
    grid-column: 12; 
    border: solid #FFC54D;
    border-radius: 3px;
    background-color:#FFC54D;
    color:black;
    width:fit-content;
}
.buttonTop:hover{
    background-color:#BD4291;
    margin-right:3px;
    margin-top:3px;
    border: solid #BD4291;
    transition: background-color 0.5s,border 0.5s;
}
#buttonTop{
    background-color:#FFC54D; 
    border-width:0px; 
}
#buttonTop:hover {
    background-color:#BD4291;
    transition: background-color 0.5s;
}
/* Burger dropdown */

.menu1 a {
    color: #fff;
    text-decoration: none;
  }
  
  .p-menu1{
     height: 100%;
  }
  
  
  
  
  /* Hamburger */
  .hamburger1 {
    height: 45px;
    margin: 10px 5px;
    display: -ms-grid;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    justify-items: right;
    z-index: 120;
  }
  
  .hamburger1 div {
    background-color: rgb(61, 61, 61);
    position: relative;
    width: 40px;
    height: 5px;
    margin-top: 7px;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
  
  #toggle1 {
    display: none;
  }
  
  #toggle1:checked + .hamburger1 .top {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    margin-top: 22.5px;
  }
  
  #toggle1:checked + .hamburger1 .meat {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    margin-top: -5px;
  }
  
  #toggle1:checked + .hamburger1 .bottom {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  
  #toggle1:checked ~ .menu1 {
    height: 340px;
  }
  
  
  /* Menu */
  .menu1 {
    width: 100%;
    background-color: #53BF9D;
    margin: 0;
    display: -ms-grid;
    display: grid;
    grid-template-rows: 1fr repeat(4, 0.5fr);
    grid-row-gap: 25px;
    padding: 0;
    list-style: none;
    clear: both;
    width: auto;
    text-align: center;
    height: 0px;
    overflow: hidden;
    transition: height .4s ease;
    z-index: 120;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    opacity:0.8;
  }
  
  .menu1 a:first-child {
    margin-top: 40px;
  }
  
  .menu1 a:last-child {
    margin-bottom: 40px;
  }
  
  .link1 {
    width: 100%;
    margin: 0;
    padding: 10px 0;
    font: 700 20px 'Oswald', sans-serif;
  }
  
  .link1:hover {
    background-color: #fff;
    color: rgb(61, 61, 61);
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
/* Media queries */
@media (max-width: 880px) {
    nav ul {
        display:none;
    }
    nav {
      margin-right:0;  
    }
    .contactCards{
        flex-direction: column;
        margin-left:4em;
    }
    .buttonTop {
        grid-column: 10 / span 2; 
    }
}
